/*Parte 1*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
}
.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}
div img{
    display: block;
    width: 100%;
}

/*Parte 2*/
header{
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}
header .menu{
    justify-content: space-between;
}
.list-items li a{
    color: #fff;
}

/*Parte 3*/
.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.apresentacao .texto-apresentacao{
    min-height: 200px;
}
.texto-apresentacao h1{
    color:#122a57;
    font-size: 48px;
    margin-bottom: 10px;
}
.texto-apresentacao a{
    background-color: #122a57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 180px;
    text-decoration: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

/*Parte 4*/
#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}
#quem-somos h2{
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
}
#quem-somos h2::before{
    content: "";
    height: 45px;
    width: 7px;
    margin-right: 10px;
    background-color: #122a57;
    position: relative;

}
#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
    text-align: justify;
}
#quem-somos img{
    min-width: 420px;
}

/*Parte 5*/
.container-externo{
    background-color: #122a57;
    width: 100%;
}
#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}
#servicos h2{
    color: #fff;
    font-size: 32px;
    margin-bottom: 90px;
    font-weight: 500;
}
.list-servicos{
    display: flex;
    justify-content: space-between;
}
.list-servicos .item-servico{
    text-align: center;
}
.item-servico p{
    color: white;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
}
.item-servico a{
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 5px 15px;
    color: #122a57;
    text-decoration: none;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
}

.item-servico img{
    width: 80%;
    margin: auto;

}

/*Parte 6*/
#planos{
    flex-direction: column;
    min-height: 100vh;
}

#planos h2{
    color: #122a57;
    font-size: 32px;
    margin: 40px;
}

.lista-planos{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
}

.item-plano{
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    max-width: 200px;
    margin-right: 45px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-plano h3{
    font-size: 24px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    color: #122a57;
}

.item-plano h3::after{
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
}

.item-plano ul{
    margin-bottom: 35px;
    list-style: square;
    color: #122a57;
}

.item-plano a{
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: #122a57;
    padding: 5px 30px;
    border-radius: 30px;
}

footer{
    background-color: #122a57;
    color: white;
}

.lista-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
}

.lista-footer p{
    font-size: 13px;
    font-weight: 500;
}

/*Mobile*/

